### 1.1 Python 数据结构
###### 元组、列表、字典和集合

###### 数据结构 与 序列

###### 元组

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4, 0, 2])

(4, 0, 2)

In [4]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

's'

In [6]:
tup = tuple(['foo', [1, 2], True])

In [7]:
tup

('foo', [1, 2], True)

In [9]:
# tup[2] = False # 不可修改元组元素

In [10]:
tup[1].append(3) # 如果元组中的某个对象是可变的，比如列表，可以在原位进行修改
tup

('foo', [1, 2, 3], True)

In [11]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [12]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

###### 拆分元组

In [13]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [14]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [15]:
tmp = a 
a = b 
b = tmp

In [16]:
a

5

In [17]:
b

4

In [18]:
a, b = 1, 2
print(a)
print(b)
b, a = a, b
print(a)
print(b)

1
2
2
1

In [19]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [20]:
values = 1, 2, 3, 4, 5
a, b, *rest = values # a, b, *_ = values

In [21]:
a

1

In [22]:
a, b

(1, 2)

In [23]:
rest

[3, 4, 5]

###### tuple 方法

In [24]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [26]:
a_list = [2, 3, 7, None]
print(a_list)
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
print(b_list)
b_list[1] = 'peekaboo'
print(b_list)

[2, 3, 7, None]
['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

In [27]:
gen = range(10)
print(gen)
list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

###### 列表

###### 添加 和 删除元素

In [28]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [29]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [30]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [31]:
b_list.append('foo')
print(b_list)
b_list.remove('foo')
print(b_list)

['foo', 'red', 'baz', 'dwarf', 'foo']
['red', 'baz', 'dwarf', 'foo']

In [32]:
'dwarf' in b_list

True

###### 串联 和 组合列表

In [33]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [34]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

###### Note：通过加法将列表串联的计算量较大，因为要新建一个列表，并且要复制对象。用extend追加元素，尤其是到一个大列表中，更为可取。

###### 组合方法 要比 串联方法快

In [ ]:
everything = [] 
for chunk in list_of_lists: 
    everything.extend(chunk)

In [ ]:
everything = [] 
for chunk in list_of_lists: 
    everything = everything + chunk

###### 排序

In [35]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [38]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len) # 二级排序 key 可以用 key  进行排序 可以按照长度进行排序
b

['He', 'saw', 'six', 'small', 'foxes']

###### 二分搜索和维护已排序的列表

###### bisect模块支持二分查找，和向已排序的列表插入值
###### bisect.bisect可以找到插入值后仍保证排序的位置
###### bisect.insort是向这个位置插入值
###### Note：
###### bisect模块不会检查列表是否已排好序，进行检查的话会耗费大量计算。因此，对未排序的列表使用bisect不会产生错误，但结果不一定正确

In [1]:
import bisect

In [2]:
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)
bisect.bisect(c, 5)
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### 切片操作 start:stop:step

In [4]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5:2]

[2, 7]

In [5]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [7]:
seq[:5]

[7, 2, 3, 6, 3]

In [8]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [9]:
seq[-4:]

[5, 6, 0, 1]

In [10]:
seq[-6:-2]

[6, 3, 5, 6]

In [11]:
seq[::2]

[7, 3, 3, 6, 1]

In [12]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

#### 序列函数

###### enumerate 函数

In [14]:
i = 0 
for value in collection:
    i += 1

In [ ]:
for i, value in enumerate(collection):
    i += 1

In [21]:
some_list = ['U', 'Love', 'ME', 'I', 'Love', 'U']
mapping = {}
for i, v in enumerate(some_list):
    print(i)
    print(v)
    mapping[v] = i
mapping

0
U
1
Love
2
ME
3
I
4
Love
5
U

{'I': 3, 'Love': 4, 'ME': 2, 'U': 5}

###### sorted  函数
###### sorted函数可以从任意序列的元素返回一个新的排好序的列表

In [22]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [23]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

###### zip 函数

###### zip可以将多个列表、元组或其它序列成对组合成一个元组列表

In [24]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)

In [26]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

###### zip可以处理任意多的序列，元素的个数取决于最短的序列

In [27]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

###### zip的常见用法之一是同时迭代多个序列，可能结合enumerate使用

In [28]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [34]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)# zip可以当作把行的列表转换为列的列表
print(len(pitchers))
print(first_names)
print(last_names)

3
('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

###### reversed 函数
###### reversed可以从后向前迭代一个序列

In [35]:
list(reversed(range(10))) # reversed 是一个生成器  只有实体化之后才能创建翻转的序列

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 字典

### 字典也称哈希映射或关联数组。
###### 它是键值对的大小可变集合，键和值都是 Python 对象

In [36]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [37]:
d1[7] = 'an integer'
print(d1)
d1['b']

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [38]:
'b' in d1

True

In [39]:
d1[5] = 'some value'
print(d1)
d1['dummy'] = 'another value'
print(d1)
del d1[5]
print(d1)
ret = d1.pop('dummy')
print(ret)
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}
another value

{7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [40]:
list(d1.keys())

['a', 'b', 7]

In [41]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [42]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{7: 'an integer', 'a': 'some value', 'b': 'foo', 'c': 12}

#### 用序列创建字典

In [ ]:
mapping = {} 
for key, value in zip(key_list, value_list): 
    mapping[key] = value

In [43]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

###### 默认值

In [ ]:
if key in some_dict: 
    value = some_dict[key] 
else: 
    value = default_value

###### 等价于：

In [ ]:
value = some_dict.get(key, default_value)

In [44]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [ ]:
for word in words: 
    letter = word[0] 
    by_letter.setdefault(letter, []).append(word

In [ ]:
from collections import defaultdict 
by_letter = defaultdict(list) 
for word in words: 
    by_letter[word[0]].append(word)

#### 有效的健类型

In [45]:
hash('string')

-3651767016262758126

In [46]:
hash((1, 2, (2, 3)))

1097636502276347782

In [48]:
hash((1, 2, [2, 3])) # 存在可变类型 list
# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# <ipython-input-47-f911633d7fee> in <module>()
# ----> 1 hash((1, 2, [2, 3])) # 存在可变类型 list

# TypeError: unhashable type: 'list'

In [49]:
d = {}
d[tuple([1, 2, 3])] = 5 # 将列表转化为元组
d

{(1, 2, 3): 5}

### 集合
###### 集合是无序的不可重复的元素的集合

In [51]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [52]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

###### 集合支持合并、交集、差分和对称差等数学集合运算

In [54]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

###### 合并是取两个集合中不重复的元素

In [55]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

###### 交集的元素包含在两个集合中

In [57]:
a.intersection(b)

{3, 4, 5}

In [58]:
a & b

{3, 4, 5}

<!--SET_METHODS-->
<img align="center" style="padding-right:10px;" src="Set_Methods.png">

In [59]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [60]:
d = a.copy()
d &= b
d

{3, 4, 5}

###### 与字典类似，集合元素通常都是不可变的。要获得类似列表的元素，必须转换成元组

In [61]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

###### 可以检测一个集合是否是另一个集合的子集或父集

In [62]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [65]:
{1, 2, 3, 4, 5, 6}.issuperset(a_set)

True

###### 集合的内容相同时，集合才对等

In [68]:
{1, 2, 3} == {3, 2, 1}

True

### 列表、集合 和 字典推导式

###### [expr for val in collection if condition]

###### 等价于

In [ ]:
result = []
for val in collection:
    if condition:
        result.append(expr)

In [1]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[ x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

###### 集合 和 字典的推导
###### set_comp = {expr for value in collection if condition}
###### dict_comp = {key-expr : value-expr for value in collection if condition}

In [2]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [3]:
set(map(len, strings))  # map 函数的简化

{1, 2, 3, 4, 6}

In [4]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

### 嵌套列表推导式

In [5]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia','Pilar']]

In [6]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [7]:
names_of_interest

['Steven']

###### 采用嵌套列表推导式

In [13]:
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [14]:
result

['Steven']

###### 列表推导式的for部分是根据嵌套的顺序，过滤条件还是放在最后

In [15]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
some_tuples

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

###### for表达式的顺序是与嵌套for循环的顺序一样

In [16]:
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [17]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
 [[x for x in tup] for tup in some_tuples] # list of list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 1.2 Python 函数

In [19]:
def my_function(x, y, z = 1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [20]:
my_function(5, 6, z=0.7)
# my_function(3.14, 7, 3.5)
# my_function(10, 20)

0.06363636363636363

In [21]:
my_function(x=5, y=6, z=7)
# my_function(y=6, x=5, z=7)

77

### 命名空间、作用域和局部函数

#### 函数可以访问两种不同作用域中的变量：全局（global）和局部（local）

In [22]:
def func(): 
    a = [] 
    for i in range(5): 
        a.append(i)

In [23]:
a = [] # 全局变量
def func(): 
    for i in range(5): 
        a.append(i)

In [25]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
# print(a)

### 返回多个值

In [26]:
def f(): 
    a = 5 
    b = 6 
    c = 7 
    return a, b, c

a, b, c = f()

In [27]:
a, b, c

(5, 6, 7)

In [28]:
return_value = f()

In [29]:
return_value

(5, 6, 7)

In [30]:
def f(): 
    a = 5 
    b = 6 
    c = 7 
    return {'a' : a, 'b' : b, 'c' : c}

In [31]:
res_val = f()

In [32]:
res_val

{'a': 5, 'b': 6, 'c': 7}

### 函数也是对象

In [33]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south   carolina##', 'West virginia?']

In [34]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value) # 字符替换
        value = value.title()
        result.append(value)
    return result

In [35]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [36]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [37]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [38]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### 匿名函数 **lambda**

In [39]:
def short_function(x): 
    return x * 2

In [40]:
equiv_anon = lambda x: x * 2 # 匿名函数

In [41]:
def apply_to_list(some_list, f): 
    return [f(x) for x in some_list]

In [42]:
ints = [4, 0, 1, 5, 6] 
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [43]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [44]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### currying 部分参数应用

In [45]:
def add_numbers(x, y): 
    return x + y

In [47]:
add_five = lambda y: add_numbers(5, y)

In [48]:
from functools import partial 
add_five = partial(add_numbers, 5)

In [49]:
add_five

functools.partial(<function add_numbers at 0x00000000059C58C8>, 5)

### 生成器

In [50]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [51]:
dict_iterator = iter(some_dict)
dict_iterator

In [52]:
list(dict_iterator)

['a', 'b', 'c']

In [53]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [56]:
gen = squares()
gen

In [ ]:
for x in gen:
    print(x, end=' ')

### 生成器表达式

In [57]:
gen = (x ** 2 for x in range(100))
gen

In [58]:
def _make_gen(): 
    for x in range(100): 
        yield x ** 2 
        gen = _make_gen()

In [59]:
sum(x ** 2 for x in range(100))

328350

In [60]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### itertools 模块

In [61]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### 错误 和 异常处理

In [63]:
float('1.2345')
# float('something')
# ValueError: could not convert string to float: 'something'

1.2345

In [64]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [65]:
attempt_float('1.2345')

1.2345

In [66]:
attempt_float('something')

'something'

In [68]:
# float((1, 2))
# TypeError: float() argument must be a string or a number, not 'tuple'

In [69]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [71]:
# attempt_float((1, 2))
# TypeError: float() argument must be a string or a number, not 'tuple'

In [72]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [74]:
f = open(path, 'w')

try: 
    write_to_file(f) 
finally: 
        f.close()

In [ ]:
f = open(path, 'w')

try: 
    write_to_file(f) 
except: 
    print('Failed') 
else: 
    print('Succeeded') 
finally: f.close()

### 1.3 Python 文件对象

### 文件 和 操作系统

<!--FILE_OS-->
<img align="center" style="padding-right:10px;" src="File_OS.png">

In [75]:
path = 'examples/segismundo.txt'
f = open(path)

for line in f:
    pass

In [76]:
lines = [x.rstrip() for x in open(path)]
f.close()

In [77]:
f = open(path)
f.read(10)
f2 = open(path, 'rb')  # 二进制形式
f2.read(10)

b'Sue\xc3\xb1a el '

In [78]:
f.tell()

11

In [79]:
f2.tell()

10

In [80]:
import sys
sys.getdefaultencoding()

'utf-8'

In [81]:
f.seek(3)

3

In [82]:
f.read(1)

'帽'

In [83]:
f.close()
f2.close()

In [84]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['Sue帽a el rico en su riqueza,\n',
 'que m谩s cuidados le ofrece;\n',
 'sue帽a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sue帽a el que a medrar empieza,\n',
 'sue帽a el que afana y pretende,\n',
 'sue帽a el que agravia y ofende,\n',
 'y en el mundo, en conclusi贸n,\n',
 'todos sue帽an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [85]:
import os
os.remove('tmp.txt')

<!--FILE_METHOD-->
<img align="center" style="padding-right:10px;" src="FILE_METHOD.png">

### 文件的字节 和 Unicode 编码

In [86]:
with open(path) as f:
    chars = f.read(10)
chars

'Sue帽a el r'

In [87]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [88]:
data.decode('utf8')

'Sueña el '

In [90]:
# data[:4].decode('utf8') # 存在问题
# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [92]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))
# 'latin-1' codec can't encode character '\u5e3d' in position 3: ordinal not in range(256)

In [93]:
os.remove(sink_path)

In [94]:
f = open(path)

In [96]:
f.read(5)

'Sue帽a'

In [97]:
f.seek(4)

4

In [98]:
f.read(1)

'盿'

In [99]:
f.close()

## Discussion

 - Python 数据结构
 - 函数
 - 文件操作

## Summary

 - Python 基础总结
 - Python 数据结构、函数和文件操作